/* board_list */
.page-item.active .page-link {
	z-index: 3;
	color: #fff;
	background-color: rgb(242, 101, 34);
	border-color: rgb(242, 101, 34);
}

a.page-link {
	padding: 8px 8px;
}

.page-link {
	position: relative;
	display: block;
	padding: 0.5rem 0.75rem;
	margin-left: -1px;
	line-height: 1.25;
	color: black;
	background-color: #fff;
	border: 0px;
}

/* board_view */
a.bg-light:focus, a.bg-light:hover, button.bg-light:focus, button.bg-light:hover
	{ /*수정,삭제버튼*/
	background-color: rgba(255, 185, 56, 0.616) !important;
}

.commentBtn {
	border: solid 1px rgb(224, 216, 216);
	border-radius: 3px;
	margin-top: 3px;
}

.commentBtn:hover { /*등록버튼*/
	background-color: rgba(255, 185, 56, 0.616) !important;
}

/* market_list */
/* 카드 위에 클릭하고 있을 때 */
.marketCard:hover{
  box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
}
.marketCard{
    border-radius: 4px;
    background: #fff;
    box-shadow: 0 6px 10px rgba(0,0,0,.08), 0 0 6px rgba(0,0,0,.05);
      transition: .3s transform cubic-bezier(.155,1.105,.295,1.12),.3s box-shadow,.3s -webkit-transform cubic-bezier(.155,1.105,.295,1.12);
  padding: 14px 80px 18px 36px;
  cursor: pointer;
}

/* notice_list & market_list */
select {
	height: 38;
}

.select {
	appearance: none;
}

.minimenu {
	display: flex;
	justify-content: space-between;
}

	/* 드롭 다운 관련 스타일 */
	/* The container <div> - needed to position the dropdown content */
.dropdown {
	position: relative;
	display: inline-block;
}

	/* Dropdown Content (Hidden by Default) */
.dropdown-content {
	display: none;
	position: absolute;
	background-color: #f9f9f9;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
	z-index: 1;
}

	/* Links inside the dropdown */
.dropdown-content a {
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
	z-index: 1;
}

	/* Change color of dropdown links on hover */
.dropdown-content a:hover {
	background-color: #f1f1f1
}

	/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
	display: block;
}

	/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
	background-color: rgb(247, 247, 247);
	color: black;
}

	/* 페이징 처리 */
.page-item.active .page-link {
	z-index: 3;
	color: #fff;
	background-color: rgb(242, 101, 34);
	border-color: rgb(242, 101, 34);
}

.page-link {
	position: relative;
	display: block;
	padding: 0.5rem 0.75rem;
	margin-left: -1px;
	line-height: 1.25;
	color: black;
	background-color: #fff;
	border: 0px;
}

	/* 추천수(하트&숫자) */
.recommentCount {
	font-size: 15px;
	color: rgb(242, 101, 45);
	border: none;
	outline: none;
	background-color: white;
}

/* market_insert */
      /* 드롭 다운 관련 스타일 */
      /* Style The Dropdown Button */
      .dropbtn{
        background-color: rgb(242, 101, 45);
        border: none;
        color: white;
        padding: 0px 10px 0px 10px;
        font-size: 24px;
      }

      /* The container <div> - needed to position the dropdown content */
      .dropdown {
        position: relative;
        display: inline-block;
      }

      /* Dropdown Content (Hidden by Default) */
      .dropdown-content {
        display: none;
        position: absolute;
        background-color: #f9f9f9;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
      }

      /* Links inside the dropdown */
      .dropdown-content a {
          color: black;
          padding: 12px 16px;
          text-decoration: none;
          display: block;
          z-index: 1;
      }

      /* Change color of dropdown links on hover */
      .dropdown-content a:hover {background-color: #f1f1f1}

      /* Show the dropdown menu on hover */
      .dropdown:hover .dropdown-content {
          display: block;
      }

      /* Change the background color of the dropdown button when the dropdown content is shown */
      .dropdown:hover .dropbtn {
        background-color: rgb(247, 247, 247);
        color: black;
      }

      /* 이미지 Preview 구현 */
      .preview_img{
        height: 120px;
        list-style: none;
      }

      ul{
        padding-inline-start:0px;
      }

/*notice_board*/
.noticeBtn{
  border: 1px solid crimson;
  color:crimson;
  background-color: rgb(255, 242, 245);
  padding: 0px 4px;
}


/*마켓 리스트 이미지 효과*/
#marketListImg:hover {opacity: 0.7;}

#marketListImg {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

/* The Modal (background) */
/* .modal {
    display: none; Hidden by default
    position: fixed; Stay in place
    z-index: 1; Sit on top
    padding-top: 100px; Location of the box
    left: 0;
    top: 0;
    width: 100%; Full width
    height: 100%; Full height
    overflow: auto; Enable scroll if needed
    background-color: rgb(0,0,0); Fallback color
    background-color: rgba(0,0,0,0.9); Black w/ opacity
}

Modal Content (image)
.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
} */

/* Caption of Modal Image */
#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}

/* Add Animation */
.modal-content, #caption {    
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)} 
    to {-webkit-transform:scale(1)}
}

@keyframes zoom {
    from {transform:scale(0)} 
    to {transform:scale(1)}
}

/* The Close Button */
/* .close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
} */

/* 100% Image Width on Smaller Screens */
/* @media only screen and (max-width: 700px){
    .modal-content {
        width: 100%;
    }
} */